.task-details-card {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-top: 40px;
}

.task-details-card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.status-pill {
  display: inline-block;
  margin-left: 12px;
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 13px;
  background: #e9eeff;
  color: #000;
}

.task-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 25px;
}

.task-grid label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.task-grid select,
.task-grid textarea {
  width: 100%;
  border: 1px solid #dbe3ff;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  outline: none;
}

textarea {
  resize: none;
  height: 170px;
}

.task-actions {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.primary-btn {
  background: #116dff;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

.secondary-btn {
  background: #f4f7ff;
  color: #116dff;
  border: 1px solid #d0dbff;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

